.aboutSection{
    background: linear-gradient(to right, unquote(#000000f3),(#515253), unquote(#000000f3));        
    border-radius: 0px;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px; 
    padding-bottom: 50px;    
    color: white;
}

.image{
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.display-3{
    padding-top: 25px;
    padding-bottom: 30px;
}

@media (max-width: 564px){
    .aboutSection{
        padding-left: 0px!important; 
        padding-right: 0px!important; 
    }
    .p-section{
        padding-left: 30px!important; 
        padding-right: 30px!important; 
    }
   
}