.footerSection {
    background: url(/images/wallpaper.jpg) no-repeat center;    
    background-size: cover!important;    
    padding-top: 20px!important;
    padding-bottom: 10px!important;    
    color: white!important;
}

.footerHeader{
    padding-bottom: 20px!important;
}

.icons{
    font-size: 2em!important;
    padding-right: 10px!important;
    padding-left: 10px!important;   
}

.header-3{
    font-size: 14px!important;
}