.jumbotronOne{
    font-size: 3.5rem;
    font-weight: 300px;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}
.jumbotronHeader {
    margin-bottom: 0px;
    padding-bottom: 30px;
    color: white;
}
.jumbotron{
    margin-bottom: 0px;  
}

.jumbotronContainer {
    padding-left: 0;
    padding-right: 0;
    background: url(/images/wallpaper.jpg) no-repeat center;
    background-size: cover;
}


@media (max-width: 422px){
    padding-left: 0px!important;
    padding-right: 0px!important;
}