.navbar-toggler-icon{
    background-image: $hamburger-icon-white;
}

.navbar-collapse {
    flex-grow: 0px;
}
.nav-link, .navbar-toggler{
    color:white;
    border-color: white;
}


.nav-item {
    padding: 10px;
    color:white;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;              
}