.card {
    max-width: 18rem!important;
    margin-right: 40px!important;
    margin-left: 40px!important;    
    margin-bottom: 40px!important;

}

.portfolio{
    background: url(/images/wallpaper.jpg) no-repeat center; 
    background-size: cover!important;
}

.portfolioSection{
    padding-top: 50px!important;
    padding-bottom: 50px!important;
    
}
.portfolioHeader{
    margin-top: 0px!important;
    padding-top: 50px!important;
    color: white!important;
    font-size: 4.5em;
}